.projects_section {
  text-align: center;
  padding-top: 100px;
}

.project {
  max-width: 1200px;
  margin: auto;
  padding: 2%;
  align-items: center;
  justify-content: center;
}

.project .project_content {
  text-align: left;
}

.project .project_content h2 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
}

.project .project_content p {
  font-size: 18px;
  color: #666;
  line-height: 1.7;
  margin-bottom: 1.5rem;
}

.project button {
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #7843e9;
  border: none;
  cursor: pointer;
}

.browser { 
  background-color: #f1f1f1;
  background-image:
    radial-gradient(circle at 8px 8px, #fd635d 3px, transparent 4px),
    radial-gradient(circle at 18px 8px, #febe40 3px, transparent 4px),
    radial-gradient(circle at 28px 8px, #30c947 3px, transparent 4px);
  background-repeat: no-repeat;
  border: 1px solid #a2a2a220;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 1;
  position: relative;
}

.project .browser img {
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  position: absolute;
}